In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv('archive/train.csv')
validation_data = pd.read_csv('archive/validation.csv')
test_data = pd.read_csv('archive/test.csv')

In [3]:
train_data.columns

Index(['Age', 'Grade', 'Gender', 'Race', 'SES_Quartile', 'ParentalEducation',
       'SchoolType', 'Locale', 'TestScore_Math', 'TestScore_Reading',
       'TestScore_Science', 'GPA', 'AttendanceRate', 'StudyHours',
       'InternetAccess', 'Extracurricular', 'PartTimeJob', 'ParentSupport',
       'Romantic', 'FreeTime', 'GoOut'],
      dtype='object')

In [4]:
train_data

,Age,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,...,GPA,AttendanceRate,StudyHours,InternetAccess,Extracurricular,PartTimeJob,ParentSupport,Romantic,FreeTime,GoOut
0,17,12,Female,White,3,HS,Public,Suburban,70.258235,79.665185,...,2.743879,0.906809,1.089243,1,1,0,0,0,2,2
1,18,12,Female,White,2,HS,Public,Suburban,67.876546,59.611505,...,2.587700,0.843739,0.879911,1,1,0,1,0,5,2
2,16,11,Female,White,2,HS,Public,City,62.070623,70.577443,...,2.426294,0.850923,1.003442,1,1,0,1,1,5,1
3,14,9,Female,White,4,Bachelors+,Public,Town,79.909312,82.924450,...,3.558240,0.946786,1.814810,1,1,0,1,0,4,2
4,16,11,Female,Two-or-more,4,SomeCollege,Public,Rural,90.562294,95.352336,...,3.896884,0.988036,1.157241,1,1,0,0,0,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8000769,15,10,Female,White,3,<HS,Public,Suburban,70.372286,60.668490,...,2.658155,0.838433,0.857053,1,1,0,1,0,3,2
8000770,15,10,Female,Asian,1,<HS,Public,City,83.162907,73.933821,...,2.709118,0.913716,1.100437,1,1,1,0,0,1,2
8000771,17,12,Female,White,3,HS,Public,City,61.803545,65.461016,...,2.694017,0.781214,0.934239,1,1,0,0,1,5,3
8000772,15,10,Female,White,3,Bachelors+,Public,City,79.725623,80.152842,...,3.477801,0.934283,0.682589,1,1,0,1,0,1,4
8000773,14,9,Male,Hispanic,4,SomeCollege,Public,Suburban,80.264436,81.419160,...,3.294708,0.927493,1.276369,1,0,0,1,0,3,1

In [5]:
features =['Age', 'Grade', 'Gender', 'Race', 'SES_Quartile', 'ParentalEducation',
       'SchoolType', 'Locale', 'TestScore_Math', 'TestScore_Reading',
       'TestScore_Science', 'GPA', 'AttendanceRate', 'StudyHours',
       'InternetAccess', 'Extracurricular', 'PartTimeJob', 'ParentSupport',
       'Romantic', 'FreeTime', 'GoOut']
numeric_features = ['Age', 'Grade', 'TestScore_Math', 'TestScore_Reading', 'TestScore_Science', 
                   'AttendanceRate', 'StudyHours',"AttendanceRate","StudyHours","FreeTime","GoOut", "GPA"]
none_numeric_features = ['Gender', 'ParentalLevelOfEducation', 'SchoolType','Race', 'Locale',"InternetAccess","Extracurricular","PartTimeJob","ParentSupport","Romantic"]

=== 훈련 데이터 결측치 현황 ===
Age                  0
Grade                0
Gender               0
Race                 0
SES_Quartile         0
ParentalEducation    0
SchoolType           0
Locale               0
TestScore_Math       0
TestScore_Reading    0
TestScore_Science    0
GPA                  0
AttendanceRate       0
StudyHours           0
InternetAccess       0
Extracurricular      0
PartTimeJob          0
ParentSupport        0
Romantic             0
FreeTime             0
GoOut                0
dtype: int64

=== 검증 데이터 결측치 현황 ===
Age                  0
Grade                0
Gender               0
Race                 0
SES_Quartile         0
ParentalEducation    0
SchoolType           0
Locale               0
TestScore_Math       0
TestScore_Reading    0
TestScore_Science    0
GPA                  0
AttendanceRate       0
StudyHours           0
InternetAccess       0
Extracurricular      0
PartTimeJob          0
ParentSupport        0
Romantic             0
FreeTime             0
GoOut                0
dtype: int64

=== 테스트 데이터 결측치 현황 ===
Age                  0
Grade                0
Gender               0
Race                 0
SES_Quartile         0
ParentalEducation    0
SchoolType           0
Locale               0
TestScore_Math       0
TestScore_Reading    0
TestScore_Science    0
GPA                  0
AttendanceRate       0
StudyHours           0
InternetAccess       0
Extracurricular      0
PartTimeJob          0
ParentSupport        0
Romantic             0
FreeTime             0
GoOut                0
dtype: int64

In [ ]:
#선형회귀
train_data_copy=train_data.copy()
linear=

In [ ]:
#릿지 라쏘

In [ ]:
#분류류

In [ ]:
# 주성분회귀

In [ ]:
#트리리

In [ ]:
#  부분최소제곱법

In [ ]:
# XGBoost